/* .footer {

   
    font-size: 13px;

    float: left;
    padding: 25px 0;
    width: 100%;
    text-align: center;
    margin-top: 50px;
	 background-color: skyblue;
   color: black;
}

.camsec.camr-hover {
    position: absolute;
    bottom: -300px;
    left: 0;
    transition: all ease-in 600ms;
    width: 370px;
    height: 260px;
    background: rgba(21, 89, 160, 0.9);
}
.camsec li {
    display: block;
    color: black;
    font-size: 14px;
    position: relative;
    padding: 5px 0 4px 10px;
	}
.camsec .cambx .imgbx {
    text-align: center;
}
.camsec .cambx .tp {
    font-size: 16px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    padding: 0 0 30px 30px;
    text-align: left;
}
.camsec .cambx span {
    position: absolute;
    bottom: 0;
    left: 45%;
    height: 16px;
}
	
.border{
	border-right: 1px solid grey;
}
.border1{
	border:1px solid black;
}

<!-- .row { -->
    <!-- border: 1px solid black; -->
<!-- } -->
 */
 body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
  }
  h3, h4 {
      margin: 10px 0 30px 0;
      letter-spacing: 10px;      
      font-size: 20px;
      color: #111;
  }
  .containers {
      padding: 80px 120px;
  }
  .person {
      border: 10px solid transparent;
      margin-bottom: 25px;
      margin-left: 100px;
      width: 180px;
      height: 180px;
      opacity: 0.7;
  }
  .person2 {
      border: 10px solid transparent;
      margin-bottom: 25px;
      
      width: 180px;
      height: 180px;
      opacity: 0.7;
  }
  .person:hover {
      border-color: #ddd;
  }
  .carousel-inner img {
      -webkit-filter: grayscale(90%);
      filter: grayscale(90%); /* make all photos black and white */ 
      width: 100%; /* Set width to 100% */
      margin: auto;
  }
  .carousel-caption h3 {
      color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  
  }
  .bg-1 {
      background: #2d2d30;
      color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  .icon
  {
    color: #fff;
    font-size: 19px;
  }
  .siz
  {
    height: 50px;
    width: 50px;
  }
  
  .colo
  {
    color:rgba(255,255,255,0.8);
    
    font-size:26px;
  }
  .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  .modal-header, h4, .close {
      background-color: #333;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-header, .modal-body {
      padding: 40px 50px;
  }
  .nav-tabs li a {
      color: #777;
  }
  #googleMap {
      width: 100%;
      height: 400px;
      
  }  
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #0e282d;
      border: 0;
      font-size: 16px !important;
      letter-spacing: 4px;
      opacity: 0.9;

  }
  .navbar li a, .navbar .navbar-brand { 
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #f4511e !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: red !important;
  }
  footer {
      background-color: #0e282d;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }  
  .form-control {
      border-radius: 0;
  }
  textarea {
      resize: none;
  }
  @media only screen and (max-width: 600px) {
     .person {
      border: 10px solid transparent;
      margin-bottom: 25px;
      margin-left: 10px;
      opacity: 0.7;
  
}